{{!-- modules/lookfar/templates/item-forge-mini.hbs --}}

<div id="if-body">
  <form>
    <fieldset class="lf-if-fieldset lf-if-materials-fieldset">
      <legend>Materials</legend>
      <div
        id="materialsDrop"
        class="lf-if-materials-drop"
        aria-label="Materials drop zone"
      >
        <div
          id="materialsHint"
          class="lf-if-materials-hint"
        >
          Drag &amp; drop Treasure Items here (max 5)
        </div>
      </div>
    </fieldset>
  </form>
</div>
