{{!-- modules/lookfar/templates/travel-result.hbs --}}

<div id="lookfar-travel-result">
  <div class="travel-result-body">
    {{{resultHtml}}}
  </div>

  <p class="travel-result-prompt">
    {{promptText}}
  </p>
</div>
