{{!-- modules/lookfar/templates/dialogs/travel-result.hbs --}}

<div id="lookfar-travel-result">
  <div class="travel-result-body">
    {{!-- resultHtml contains pre-built HTML (tables, etc.) --}}
    {{{resultHtml}}}
  </div>

  <p class="travel-result-prompt">
    {{promptText}}
  </p>
</div>
