<div id="lookfar-treasure-result">
  <div class="lf-results">
    {{{resultsHtml}}}
  </div>

  {{#if showBudget}}
    <div class="lf-budget"
         style="margin:8px 0; border-top:1px solid var(--color-border-light, #8882); padding-top:6px;">
      <strong>{{localize "LOOKFAR.TreasureResult.Budget.Remaining"}}</strong>: {{budgetDisplay}}
    </div>
  {{/if}}
</div>
